{% extends 'layout.html' %}
{% block content %}
<h1>Login</h1>
{% if error %}
<div class="alert alert-danger">
    <strong>Error: </strong>{{error}}
</div>
{% endif %}
<form action="{{url_for('flash_login')}}" method="POST">
    <dl>
        <dt>Username:</dt>
        <dd>
            <input type="text" name="username" id="username" value="{{request.form['username']}}">
        </dd>
        <dt>Password:</dt>
        <dd>
            <input type="password" name="password" id="password">
        </dd>
    </dl>
    <p><input type="submit" value="Login"></p>
</form>
{% endblock %}